@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --primary: #337799;
}

#app {
    background-color: var(--primary);

    font-family: "Inter", sans-serif;
}

// NavBar

.navbar,
.footer {
    height: 80px;
}

.navbar {
    z-index: 1;
    background-image: linear-gradient(var(--primary), transparent);
}
.dropdown {
    display: flex;
    justify-content: center;
    border: none !important;
    outline: none !important;
}

.dropdown-menu {
    white-space: nowrap;
    left: 0;
    right: 0;
    min-width: 100% !important;
}

.nav {
    justify-content: center;
    gap: 20px;

    .nav-item {
        display: flex;
    }

    .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: white;
        margin-top: auto;
        margin-bottom: auto;
    }

    .nav-link {
        border: 2px solid white;
        color: white;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &.active,
        &:hover {
            background-color: white;
            color: var(--primary);
        }
    }
}

//

.profile-card {
    border-radius: 16px !important;
    width: fit-content;
    margin-bottom: 1em;

    .card-body {
        padding: 20px !important;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.profile-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.profile-header {
    gap: 30px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
}

.btn-primary {
    background-color: var(--primary) !important;
    border-radius: 8px !important;
    font-weight: bold !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 8px;

    i {
        line-height: 0;
    }
}

.exp-list {
    gap: 1em;
    display: flex;
    flex-direction: column;
}

.exp-card {
    border-radius: 8px !important;
    border-color: black !important;
    border-width: 2px !important;
    .card-body {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        padding: 1em !important;
    }
    .exp-header {
        justify-content: space-between;
    }
    .card-text,
    .card-subtitle,
    .card-title {
        font-size: 1em !important;
        margin: 0;
    }
    .card-subtitle {
        opacity: 0.5;
    }
}

.col {
    position: relative;
}

.list-group {
    overflow-y: scroll;
    margin-top: -80px;
    padding-top: 80px;
    padding-right: 6px;
    padding-bottom: 1em;
    position: absolute;
    border-radius: 0 !important;
    top: 0;
    bottom: 0;

    &::-webkit-scrollbar {
        padding-top: 60px;
        width: 12px;
        height: 12px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: white;
        border-radius: 10px;
        border: 3px solid var(--primary);
        border-top-width: 60px;
        border-bottom-width: 10px;
        height: 20%;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: lightgray;
    }

    .list-group-item {
        border-radius: 20px !important;
        overflow: hidden;
        min-height: fit-content !important;
    }
}

.skills {
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-card {
    border-radius: 1em !important;
    height: 120px !important;
    min-width: 120px !important;
    padding: 20px;
    cursor: pointer;

    img {
        width: auto;
        height: 100%;
        transition: all 0.2s ease-in-out;
    }
}

.skill-card:hover {
    img {
        transform: scale(1.1);
    }
}

@media (max-width: 768px) {
    .profile-card {
        .profile-header {
            gap: 20px;
        }
        img {
            width: 80px !important;
            height: 80px !important;
        }
    }

    .main {
        margin-bottom: 1em;
    }

    .list-group {
        overflow: unset;
        margin-top: 0;
        padding: 0 !important;
        height: unset;
        position: static;
    }

    .skill-card {
        height: 90px !important;
        min-width: 90px !important;
        padding: 15px !important;
    }
}

.footer {
    z-index: 99;
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
